@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&quot");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  }
  
  html {
  font-size: 62.5%;
  box-sizing: border-box;
  }
  
  body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
  }
  body.victory{
  background-color: #00db00;
  }
  
  header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  padding: 5rem;
  border-bottom: 2px solid #fff;
  }
  header h1 {
  font-size: 4rem;
  }
  .rule {
  font-size: 2rem;
  }
  main {
  height: 79vh;
  }
  .boxesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem;
  }
  [data-testid="colorBox"] {
  width: 250px;
  height: 250px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: 600;
  }
  .colorOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow-x: auto;
  }
  [data-testid="colorOption"] {
  height: 100px;
  width: 100px;
  border: none;
  }
  [data-testid="colorOption"]:nth-of-type(1) {
  background-color: #efbc9b;
  }
  [data-testid="colorOption"]:nth-of-type(2) {
  background-color: #9d6a89;
  }
  [data-testid="colorOption"]:nth-of-type(3) {
  background-color: #a8b4a5;
  }
  [data-testid="colorOption"]:nth-of-type(4) {
  background-color: #395c6b;
  }
  [data-testid="colorOption"]:nth-of-type(5) {
  background-color: #80a4ed;
  }
  [data-testid="colorOption"]:nth-of-type(6) {
  background-color: #3c91e6;
  }
  .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.4rem;
  padding: 5rem;
  }
  .buttons button {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
  header {
  gap: 3.2rem;
  position: relative;
  padding: 5rem 2.4rem;
  }
  header h1 {
  font-size: 2.4rem;
  }
  .rule {
  font-size: 1.5rem;
  }
  [data-testid="colorOption"] {
  height: 60px;
  width: 60px;
  }
  [data-testid="colorBox"] {
  width: 200px;
  height: 200px;
  }
  .buttons {
  flex-direction: column;
  font-size: 1.8rem;
  gap: 3.2rem;
  padding: 5rem 2.4rem;
  }
  .buttons p:nth-of-type(2) {
  order: 1;
  }
  .buttons p:nth-of-type(1) {
  order: 2;
  }
  .buttons button {
  order: 3;
  }
  }